@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sofia&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
    grid-template-areas: "header"
                         "menu"
                         "main"
                        "footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    
    header {
        grid-area: header;
        font-family: "Sofia", cursive;
        font-weight: 1200;
        font-style: normal;
        margin: 1rem;
        padding: 0.5rem;
        background-color:#f1abe1;
        background-image: url("../assets/images/mushu\ banner3.jpg");
        padding: 1rem;
        h1	 {
        color: rgba(71, 6, 71, 0.89);
        text-align: center;
        font-size: 3em;
        }
        }
    
    nav {
    grid-area: menu;
    background-color: rgba(155, 6, 80, 0.973);
    font-family: "Pacifico", cursive;
    ul {          
    list-style: none;
    text-align: center;
    li	 {
    display: inline;
    margin: 0.5rem; 
    padding: 0.5rem;
    a	 {
    text-decoration: none;    /*botones*/
    color: #eee1eb;
    }
    & a:hover{
        color: #e6c4e1;
        background-color: #290203; 
        border: 1px solid;
        border-radius: 3px;
        padding: 3px;
        }
    
        }
        }
    }
    
    
    Main 	{
    grid-area: main;
    text-align: center;
    h1, h3 {
        font-family: "Sofia", cursive;
        color: #000000;
    
    }
    background-image: url(https://media.istockphoto.com/id/1205262503/es/vector/patr%C3%B3n-sin-costuras-con-arco-iris-colorido-fondo-de-bandera-de-ca%C3%ADda-de-salpicaduras.jpg?s=612x612&w=0&k=20&c=zXbqsvGTvyPw9ATcr69HEyjfUBx9KiSLMPovbHvc1hk=);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        img {
            width: 350px;
            height: 350px;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            padding: 40px;
        }
    }
}
h2 {
    font-family: "Sofia", cursive;     
    text-align: center;
    }
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 1.25em;
    padding: 1.25em;
    max-width: 70%;
    margin: 0 auto;
  }
  
  .resenia {
    border: 2px solid var(--color3);
    border-radius: 5%;
    box-shadow: 0 0.25em 0.5em var(--color1);
    padding: 1.25em;
    text-align: center;
    font-family: "Sofia", cursive;
  }
 
  .R1 {
    background-image: url("../assets/images/Reseñas.JPG");
    background-size: cover;
    opacity: 60%;
  }
  
  .R2 {
    background-image: url("../assets/images/Reseñas.JPG");
    background-size: cover;
    opacity: 60%;
  }
  
  .R3 {
    background-image: url("../assets/images/Reseñas.JPG");
    background-size: cover;
    opacity: 60%;
  }
  
  .R4 {
    background-image: url("../assets/images/Reseñas.JPG");
    background-size: cover;
    opacity: 60%;
  }
  .R5 {
    background-image: url("../assets/images/Reseñas.JPG");
    background-size: cover;
    opacity: 60%;
  }
  .R6 {
    background-image: url("../assets/images/Reseñas.JPG");
    background-size: cover;
    opacity: 60%;
  }

  .Resena h2 {
    margin: 1em 0 0.6em;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.2;
    color: var(--color1);
    -webkit-text-stroke: 1px var(--color3);
    font-family: "Sofia", cursive;
  }
  
  .Resena p {
    font-size: medium;
    font-weight: bold;
    line-height: 1;
    color: var(--color16);
   
  }

  .Rese {
    line-height: 1;
    font-family: "Sofia", cursive;
    text-align: center;
  }

    .contacto {
            font-family: "Sofia", cursive;
              text-align: center;
              }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 400px;
        margin: 0 auto;
        }

    button {
        background-color: #04107f;
        color: #fff;
        padding: 0.5em;
        border: none;
        cursor: pointer;
    }

.pie {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    }
  
  @media (max-width: 650px) {
     
    .secciones {
      padding: 0.3em;
      margin: auto;
    }}
  
    @media (max-width: 420px) {
        h1 {
          font-size: 200%;
          -webkit-text-stroke: 1px var(--color12);
        }
      
        h2 {
          font-size: 1.2em;
          -webkit-text-stroke: 1px var(--color12);
        }
    }
     @media (max-width: 330px) {
        h1 {
            font-size: 50%;
            -webkit-text-stroke: 1px var(--color12);
            }
            h2 {
                font-size: 0.8em;
                -webkit-text-stroke: 1px var(--color12);
              }
         }
          
    footer {
    grid-area: footer;
    font-family: "Sofia", cursive;
    background: linear-gradient(90deg, #f21273 20%, #f8cfffc6);
    color: white;
    margin: 0;
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 2em;
    
    .footy {
        display: flex;
        flex-wrap: wrap;
        a {
        text-decoration: none;
        font-family: "Sofia", cursive;
        font-size: larger;
        color: #360e0e;
        img {
            width: 50px;
            height: 50px;
            padding: 10px;
        }
    }
    
    }
}
}



    