@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
    grid-template-areas: "header"
                         "menu"
                         "main"
                        "productos"
                        "footer";
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr;
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: "Sofia", cursive;
          /*background-color: rgb(52, 52, 53);*/
        background-image: url("../assets/images/mushu\ banner3.jpg");
        height: 80px;
    }
    
    nav {
    grid-area: menu;
    background-color: rgba(155, 6, 80, 0.973);
    font-family: "Pacifico", cursive;
    ul {        
    list-style: none;
    text-align: center;
    li	 {
    display: inline;  
    margin: 1rem; 
    padding: 0.5rem;
    a	 {
    text-decoration: none; 
    color: #eee1eb;
    }
    & a:hover{
        color: #e6c4e1;
        background-color: #290203; 
        border: 1px solid;
        border-radius: 5px;
        padding: 5px;
        }
      }
     }
    }
    
    
    Main 	{
    grid-area: main;
    background-image: url(https://media.istockphoto.com/id/1205262503/es/vector/patr%C3%B3n-sin-costuras-con-arco-iris-colorido-fondo-de-bandera-de-ca%C3%ADda-de-salpicaduras.jpg?s=612x612&w=0&k=20&c=zXbqsvGTvyPw9ATcr69HEyjfUBx9KiSLMPovbHvc1hk=);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: 30vh; /*antes 40*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    color: #160121;
    font-family: "Sofia", cursive;
    }
    
    section {
    grid-area: productos;
    text-align: center;
    h2 {
        font-family: "Sofia", cursive;
        color: #360e0e;
    }
    .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Sofia", cursive;
    font-size: larger;
    color: #360e0e;
    a {
    text-decoration: none;
    img {
    border-radius: 5rem 5rem 0 0;
    width: 250px;
    height: 250px;
        }
        }
    h4 {
        font-family: "Lato", sans-serif;
        }
        button {
            background-color: rgb(18, 11, 237);
            color: white;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid;
            padding: 10px;
      }
    }
}
    footer {
    grid-area: footer;
    font-family: "Sofia", cursive;
    background: linear-gradient(90deg, #f21273 20%, #f8cfffc6);
    color: white;
    margin: 0;
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 2em;
    }
    }
    
